.wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.inline-block {
  display: inline-block;
} // end of .inline-block

.inline-flex {
  display: inline-flex;
} // end of .inline-flex

.flex {
  display: flex;
} // end of .flex

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
} // end of .flex-wrap

.flex-col {
  display: flex;
  flex-direction: column;
} // end of .flex-col

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-align-items-center {
  display: flex;
  align-items: center;
}

.container-small {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
} // end of .container-small

.default-btn {
  
  &, &:hover {
    color: #fff;
    background-color: #44AACD;
  } // end of &, &:hover

} // end of .default-btn

.default-border {
  border: 1px solid $default-border-color;
} // end of .default-border

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}