$bar-dark: #232227;
$strong-dark: #0B0B0B;
$default-font-color: #212529;
$light-font-color: #BBBABF;
$default-border-color: #666;
$default-bg-color: #F3F4F6;

$trans-duration: 0.15s;
$trans-timing: ease-in-out;